spring:
  application:
    name: projeto-esg-energia
  
  datasource:
    url: jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
    username: ***REMOVED***
    password: "***REMOVED***"
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
  
  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  
  flyway:
    enabled: true
    baseline-on-migrate: false
    clean-disabled: false
    locations: classpath:db/migration
    schemas: ***REMOVED***

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

jwt:
  secret: ${JWT_SECRET:c3VhLWNoYXZlLXNlY3JldGEtbXVpdG8tc2VndXJhLWNvbS1uby1taW5pbW8tMjU2LWJpdHMtcGFyYS1oczI1Ng==}
  expiration: 86400000 # 24 horas em milissegundos

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha

logging:
  level:
    com.esg.energia: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
